In [29]:
import pandas as pd
import numpy as np
import datetime as dt

In [31]:
emp = pd.read_json(r'employees.json')
sal = pd.read_csv(r'sal_fixed.csv', sep=';')
tit = pd.read_csv(r'tit_fixed.csv', sep=';')
sal["from_date"] = pd.to_datetime(sal["from_date"], format = "%Y-%m-%d")
sal["to_date"] = pd.to_datetime(sal["to_date"], format = "%Y-%m-%d")
tit["from_date"] = pd.to_datetime(tit["from_date"], format = "%Y-%m-%d")
tit["to_date"] = pd.to_datetime(tit["to_date"], format = "%Y-%m-%d")
sal_new = pd.DataFrame({"emp_no": [], "salary": [], "from_date": [], "to_date":[]})
tit_new = pd.DataFrame({"emp_no": [], "title": [], "from_date": [], "to_date":[]})
final = pd.DataFrame({"emp_no": [], "title": [], "salary": [], "from_date": [], "to_date":[]})
for x in range(len(emp)):
    print(emp.index[x]*100/2844047, "%")
    sal_new = pd.DataFrame({"emp_no": [], "salary": [], "from_date": [], "to_date":[]})
    tit_new = pd.DataFrame({"emp_no": [], "title": [], "from_date": [], "to_date":[]})
    ### Salary-beregning
    df = sal.loc[sal["emp_no"] == emp["emp_no"][x]]
    wl = 0
    while wl != 1:
        df = df.reset_index(drop = True)
        df_new1 = pd.DataFrame({"emp_no": [], "salary": [], "from_date": [], "to_date":[]})
        for i in range(len(df)):
            df = df.sort_values(by=["salary"], ascending=False)
            c = 0
            for e in range(len(df)):
                if (df["from_date"][i] == df["from_date"][e] and 
                df["to_date"][i] == df["to_date"][e] and 
                df["salary"][i] == df["salary"][e]):
                    continue
                elif df["from_date"][e] > df["to_date"][e]:
                    continue
                elif df["from_date"][i] > df["to_date"][i]:
                    c = 1
                    break
                elif (df["from_date"][i] <= df["from_date"][e] and
                df["to_date"][i] >= df["to_date"][e] and
                df["salary"][i] >= df["salary"][e]):
                    df_new1 = pd.concat([df_new1, pd.DataFrame({
                        "emp_no" : [df["emp_no"][i]], 
                        "salary" : [df["salary"][i]], 
                        "from_date" : [df["from_date"][i]],
                        "to_date" : [df["to_date"][i]]
                        })])
                    c = 1
                    break
                elif (df["from_date"][e] <= df["from_date"][i] and
                df["to_date"][e] >= df["to_date"][i] and
                df["salary"][e] >= df["salary"][i]):
                    df_new1 = pd.concat([df_new1, pd.DataFrame({
                        "emp_no" : [df["emp_no"][e]], 
                        "salary" : [df["salary"][e]], 
                        "from_date" : [df["from_date"][e]],
                        "to_date" : [df["to_date"][e]]
                        })])
                    c = 1
                    break
                elif (df["from_date"][i] <= df["from_date"][e] and
                df["to_date"][i] <= df["to_date"][e] and
                df["to_date"][i] >= df["from_date"][e] and
                df["salary"][i] < df["salary"][e]):
                    df_new1 = pd.concat([df_new1, pd.DataFrame({
                        "emp_no" : [df["emp_no"][i], df["emp_no"][e]], 
                        "salary" : [df["salary"][i], df["salary"][e]], 
                        "from_date" : [df["from_date"][i], df["from_date"][e]],
                        "to_date" : [df["from_date"][e] - pd.DateOffset(1), df["to_date"][e]]
                        })])
                    c = 1
                    break
                elif (df["from_date"][i] <= df["from_date"][e] and
                df["to_date"][i] <= df["to_date"][e] and
                df["to_date"][i] >= df["from_date"][e] and
                df["salary"][i] == df["salary"][e]):
                    df_new1 = pd.concat([df_new1, pd.DataFrame({
                        "emp_no" : [df["emp_no"][i]], 
                        "salary" : [df["salary"][i]], 
                        "from_date" : [df["from_date"][i]],
                        "to_date" : [df["to_date"][e]]
                        })])
                    c = 1
                    break
                elif (df["from_date"][e] <= df["from_date"][i] and
                df["to_date"][e] <= df["to_date"][i] and
                df["to_date"][e] >= df["from_date"][i] and
                df["salary"][e] < df["salary"][i]):
                    df_new1 = pd.concat([df_new1, pd.DataFrame({
                        "emp_no" : [df["emp_no"][e], df["emp_no"][i]], 
                        "salary" : [df["salary"][e], df["salary"][i]], 
                        "from_date" : [df["from_date"][e], df["from_date"][i]],
                        "to_date" : [df["from_date"][i] - pd.DateOffset(1), df["to_date"][i]]
                        })])
                    c = 1
                    break
                elif (df["from_date"][e] <= df["from_date"][i] and
                df["to_date"][e] <= df["to_date"][i] and
                df["to_date"][e] >= df["from_date"][i] and
                df["salary"][e] == df["salary"][i]):
                    df_new1 = pd.concat([df_new1, pd.DataFrame({
                        "emp_no" : [df["emp_no"][e]], 
                        "salary" : [df["salary"][e]], 
                        "from_date" : [df["from_date"][e]],
                        "to_date" : [df["to_date"][i]]
                        })])
                    c = 1
                    break
                elif (df["from_date"][i] <= df["from_date"][e] and
                df["to_date"][i] <= df["to_date"][e] and
                df["to_date"][i] >= df["from_date"][e] and
                df["salary"][i] > df["salary"][e]):
                    df_new1 = pd.concat([df_new1, pd.DataFrame({
                        "emp_no" : [df["emp_no"][i], df["emp_no"][e]], 
                        "salary" : [df["salary"][i], df["salary"][e]], 
                        "from_date" : [df["from_date"][i], df["to_date"][i] + pd.DateOffset(1)],
                        "to_date" : [df["to_date"][i], df["to_date"][e]]
                        })])
                    c = 1
                    break
                elif (df["from_date"][e] <= df["from_date"][i] and
                df["to_date"][e] <= df["to_date"][i] and
                df["to_date"][e] >= df["from_date"][i] and
                df["salary"][e] > df["salary"][i]):
                    df_new1 = pd.concat([df_new1, pd.DataFrame({
                        "emp_no" : [df["emp_no"][e], df["emp_no"][i]], 
                        "salary" : [df["salary"][e], df["salary"][i]], 
                        "from_date" : [df["from_date"][e], df["to_date"][e] + pd.DateOffset(1)],
                        "to_date" : [df["to_date"][e], df["to_date"][i]]
                        })])
                    c = 1
                    break
                elif (df["from_date"][i] <= df["from_date"][e] and
                df["to_date"][i] >= df["to_date"][e] and
                df["salary"][i] < df["salary"][e]):
                    df_new1 = pd.concat([df_new1, pd.DataFrame({
                        "emp_no" : [df["emp_no"][i], df["emp_no"][e], df["emp_no"][i]], 
                        "salary" : [df["salary"][i], df["salary"][e], df["salary"][i]], 
                        "from_date" : [df["from_date"][i], df["from_date"][e], df["to_date"][e] + pd.DateOffset(1)],
                        "to_date" : [df["from_date"][e] - pd.DateOffset(1), df["to_date"][e], df["to_date"][i]]
                        })])
                    c = 1
                    break
                elif (df["from_date"][e] <= df["from_date"][i] and
                df["to_date"][e] >= df["to_date"][i] and
                df["salary"][i] < df["salary"][e]):
                    df_new1 = pd.concat([df_new1, pd.DataFrame({
                        "emp_no" : [df["emp_no"][e], df["emp_no"][i], df["emp_no"][e]], 
                        "salary" : [df["salary"][e], df["salary"][i], df["salary"][e]], 
                        "from_date" : [df["from_date"][e], df["from_date"][i], df["to_date"][i] + pd.DateOffset(1)],
                        "to_date" : [df["from_date"][i] - pd.DateOffset(1), df["to_date"][i], df["to_date"][e]]
                        })])
                    c = 1
                    break
                else:
                    continue
            if c == 1:
                continue
            else:
                df_new1 = pd.concat([df_new1, pd.DataFrame({
                "emp_no" : [df["emp_no"][i]], 
                "salary" : [df["salary"][i]], 
                "from_date" : [df["from_date"][i]],
                "to_date" : [df["to_date"][i]]
                })])
                continue
        df_new1.drop_duplicates(subset=None, keep='first', inplace=True, ignore_index=True)
        df = df_new1
        df_new1 = pd.DataFrame({"emp_no": [], "salary": [], "from_date": [], "to_date":[]})
        wl2 = 0
        c = 0
        while wl2 != 1:
            c = 0
            for i in range(len(df)):
                d = 0
                for e in range(len(df)):
                    if (df["from_date"][i] == df["from_date"][e] and 
                    df["to_date"][i] == df["to_date"][e] and 
                    df["salary"][i] == df["salary"][e]):
                        continue
                    elif (df["from_date"][i] <= df["from_date"][e] and
                    df["to_date"][i] <= df["to_date"][e] and
                    df["to_date"][i] >= df["from_date"][e] and
                    df["salary"][i] == df["salary"][e]):
                        df_new1 = pd.concat([df_new1, pd.DataFrame({
                            "emp_no" : [df["emp_no"][i]], 
                            "salary" : [df["salary"][i]], 
                            "from_date" : [df["from_date"][i]],
                            "to_date" : [df["to_date"][e]]
                            })])
                        c = 1
                        d = 1
                        break
                    elif (df["from_date"][e] <= df["from_date"][i] and
                    df["to_date"][e] <= df["to_date"][i] and
                    df["to_date"][e] >= df["from_date"][i] and
                    df["salary"][e] == df["salary"][i]):
                        df_new1 = pd.concat([df_new1, pd.DataFrame({
                            "emp_no" : [df["emp_no"][e]], 
                            "salary" : [df["salary"][e]], 
                            "from_date" : [df["from_date"][e]],
                            "to_date" : [df["to_date"][i]]
                            })])
                        c = 1
                        d = 1
                        break
                    elif (df["from_date"][i] <= df["from_date"][e] and
                    df["to_date"][i] >= df["to_date"][e] and
                    df["salary"][i] == df["salary"][e]):
                        df_new1 = pd.concat([df_new1, pd.DataFrame({
                            "emp_no" : [df["emp_no"][i]], 
                            "salary" : [df["salary"][i]], 
                            "from_date" : [df["from_date"][i]],
                            "to_date" : [df["to_date"][i]]
                            })])
                        c = 1
                        d = 1
                        break
                    elif (df["from_date"][e] <= df["from_date"][i] and
                    df["to_date"][e] >= df["to_date"][i] and
                    df["salary"][e] == df["salary"][i]):
                        df_new1 = pd.concat([df_new1, pd.DataFrame({
                            "emp_no" : [df["emp_no"][e]], 
                            "salary" : [df["salary"][e]], 
                            "from_date" : [df["from_date"][e]],
                            "to_date" : [df["to_date"][e]]
                            })])
                        c = 1
                        d = 1
                        break
                    else:
                        continue
                if d == 0:
                    df_new1 = pd.concat([df_new1, pd.DataFrame({
                            "emp_no" : [df["emp_no"][i]], 
                            "salary" : [df["salary"][i]], 
                            "from_date" : [df["from_date"][i]],
                            "to_date" : [df["to_date"][i]]
                            })])
                    continue
            df_new1.drop_duplicates(subset=None, keep='first', inplace=True, ignore_index=True)
            df = df_new1
            if c == 0:
                wl2 = 1
                break
            else:
                continue
        df.drop_duplicates(subset=None, keep='first', inplace=True, ignore_index=True)
        c = 0
        for a in range(len(df)):
            for b in range(len(df)):
                if (df["from_date"][a] < df["from_date"][b] and
                df["to_date"][a] < df["to_date"][b] and
                df["to_date"][a] > df["from_date"][b]):
                    c = 1
                    break
                elif (df["from_date"][b] < df["from_date"][a] and
                df["to_date"][b] < df["to_date"][a] and
                df["to_date"][b] > df["from_date"][a]):
                    c = 1
                    break
                elif (df["from_date"][a] < df["from_date"][b] and
                df["to_date"][a] > df["to_date"][b]):
                    c = 1
                    break
                elif (df["from_date"][b] < df["from_date"][a] and
                df["to_date"][b] > df["to_date"][b]):
                    c = 1
                    break
                elif (df["from_date"][a] == df["from_date"][b] and
                df["to_date"][a] != df["to_date"][b]):
                    c = 1
                    break
                elif (df["from_date"][a] != df["from_date"][b] and
                df["to_date"][a] == df["to_date"][b]):
                    c = 1
                    break
                else:
                    continue
        if c == 0:
            wl = 1
            break
        else:
            continue
    df = df.sort_values(by=["from_date"], ascending=True)
    sal_new = pd.concat([sal_new, df])
    sal_new = sal_new.sort_values(by=["from_date"], ascending=True)
    sal_new = sal_new.reset_index(drop = True)
    sal_new.drop_duplicates(subset=None, keep='first', inplace=True, ignore_index=True)

    ### Igang med at fylde blanke linjer ind!
    df_new1 = pd.DataFrame({"emp_no": [], "salary": [], "from_date": [], "to_date":[]})
    for i in range(len(sal_new)):
        c = 0
        for e in range(len(sal_new)):
            if (sal_new["from_date"][i] == sal_new["from_date"][e] and 
                sal_new["to_date"][i] == sal_new["to_date"][e]):
                continue
            elif sal_new["to_date"][i] > sal_new["from_date"][e]:
                continue
            elif sal_new["to_date"][i] + pd.DateOffset(1) == sal_new["from_date"][e]:
                df_new1 = pd.concat([df_new1, pd.DataFrame({
                    "emp_no" : [sal_new["emp_no"][i]], 
                    "salary" : [sal_new["salary"][i]], 
                    "from_date" : [sal_new["from_date"][i]],
                    "to_date" : [sal_new["to_date"][i]]
                    })])
                c = 1
                break
            elif sal_new["to_date"][i] + pd.DateOffset(1) < sal_new["from_date"][e]:
                df_new1 = pd.concat([df_new1, pd.DataFrame({
                    "emp_no" : [sal_new["emp_no"][i], sal_new["emp_no"][i]],
                    "salary" : [sal_new["salary"][i], np.nan],
                    "from_date" : [sal_new["from_date"][i], sal_new["to_date"][i] + pd.DateOffset(1)],
                    "to_date" : [sal_new["to_date"][i], sal_new["from_date"][e] - pd.DateOffset(1)] 
                    })])
                break
                c = 1
            else:
                break
        if c == 0:
            df_new1 = pd.concat([df_new1, pd.DataFrame({
                "emp_no" : [sal_new["emp_no"][i]], 
                "salary" : [sal_new["salary"][i]], 
                "from_date" : [sal_new["from_date"][i]],
                "to_date" : [sal_new["to_date"][i]]
                })])
            continue
    sal_new = df_new1
    sal_new = sal_new.sort_values(by=["emp_no", "from_date"], ascending=True)
    sal_new = sal_new.reset_index(drop = True)
    sal_new.drop_duplicates(subset=None, keep='first', inplace=True, ignore_index=True)

    ### Title-beregning
    df = tit.loc[tit["emp_no"] == emp["emp_no"][x]]
    df = df.reset_index(drop = True)
    wl = 0
    while wl != 1:
        df_new1 = pd.DataFrame({"emp_no": [], "title": [], "from_date": [], "to_date":[]})
        df_new1["priority"] = np.nan
        for i in range(len(df)):
            if df["title"][i] == "Staff":
                df_new1 = pd.concat([df_new1, pd.DataFrame({
                    "emp_no" : [df["emp_no"][i]], 
                    "title" : [df["title"][i]], 
                    "from_date" : [df["from_date"][i]],
                    "to_date" : [df["to_date"][i]],
                    "priority" : [1]
                    })])
                continue
            elif df["title"][i] == "Senior Staff":
                df_new1 = pd.concat([df_new1, pd.DataFrame({
                    "emp_no" : [df["emp_no"][i]], 
                    "title" : [df["title"][i]], 
                    "from_date" : [df["from_date"][i]],
                    "to_date" : [df["to_date"][i]],
                    "priority" : [2]
                    })])
                continue
            elif df["title"][i] == "Assistant Engineer":
                df_new1 = pd.concat([df_new1, pd.DataFrame({
                    "emp_no" : [df["emp_no"][i]], 
                    "title" : [df["title"][i]], 
                    "from_date" : [df["from_date"][i]],
                    "to_date" : [df["to_date"][i]],
                    "priority" : [3]
                    })])
                continue
            elif df["title"][i] == "Engineer":
                df_new1 = pd.concat([df_new1, pd.DataFrame({
                    "emp_no" : [df["emp_no"][i]], 
                    "title" : [df["title"][i]], 
                    "from_date" : [df["from_date"][i]],
                    "to_date" : [df["to_date"][i]],
                    "priority" : [4]
                    })])
                continue
            elif df["title"][i] == "Senior Engineer":
                df_new1 = pd.concat([df_new1, pd.DataFrame({
                    "emp_no" : [df["emp_no"][i]], 
                    "title" : [df["title"][i]], 
                    "from_date" : [df["from_date"][i]],
                    "to_date" : [df["to_date"][i]],
                    "priority" : [5]
                    })])
                continue
            elif df["title"][i] == "Technique Leader":
                df_new1 = pd.concat([df_new1, pd.DataFrame({
                    "emp_no" : [df["emp_no"][i]], 
                    "title" : [df["title"][i]], 
                    "from_date" : [df["from_date"][i]],
                    "to_date" : [df["to_date"][i]],
                    "priority" : [6]
                    })])
                continue
            elif df["title"][i] == "Manager":
                df_new1 = pd.concat([df_new1, pd.DataFrame({
                    "emp_no" : [df["emp_no"][i]], 
                    "title" : [df["title"][i]], 
                    "from_date" : [df["from_date"][i]],
                    "to_date" : [df["to_date"][i]],
                    "priority" : [7]
                    })])
                continue
            else:
                df_new1 = pd.concat([df_new1, pd.DataFrame({
                    "emp_no" : [df["emp_no"][i]], 
                    "title" : [df["title"][i]], 
                    "from_date" : [df["from_date"][i]],
                    "to_date" : [df["to_date"][i]],
                    "priority" : [0]
                    })])
                continue
        df = df_new1
        df = df.reset_index(drop = True)
        df_new1 = pd.DataFrame({"emp_no": [], "title": [], "from_date": [], "to_date":[]})
        for i in range(len(df)):
            df = df.sort_values(by=["priority"], ascending=False)
            c = 0
            for e in range(len(df)):
                if (df["from_date"][i] == df["from_date"][e] and 
                df["to_date"][i] == df["to_date"][e] and 
                df["priority"][i] == df["priority"][e]):
                    continue
                elif df["from_date"][e] > df["to_date"][e]:
                    continue
                elif df["from_date"][i] > df["to_date"][i]:
                    c = 1
                    break
                elif (df["from_date"][i] <= df["from_date"][e] and
                df["to_date"][i] >= df["to_date"][e] and
                df["priority"][i] >= df["priority"][e]):
                    df_new1 = pd.concat([df_new1, pd.DataFrame({
                        "emp_no" : [df["emp_no"][i]], 
                        "title" : [df["title"][i]], 
                        "from_date" : [df["from_date"][i]],
                        "to_date" : [df["to_date"][i]]
                        })])
                    c = 1
                    break
                elif (df["from_date"][e] <= df["from_date"][i] and
                df["to_date"][e] >= df["to_date"][i] and
                df["priority"][e] >= df["priority"][i]):
                    df_new1 = pd.concat([df_new1, pd.DataFrame({
                        "emp_no" : [df["emp_no"][e]], 
                        "title" : [df["title"][e]], 
                        "from_date" : [df["from_date"][e]],
                        "to_date" : [df["to_date"][e]]
                        })])
                    c = 1
                    break
                elif (df["from_date"][i] <= df["from_date"][e] and
                df["to_date"][i] <= df["to_date"][e] and
                df["to_date"][i] >= df["from_date"][e] and
                df["priority"][i] < df["priority"][e]):
                    df_new1 = pd.concat([df_new1, pd.DataFrame({
                        "emp_no" : [df["emp_no"][i], df["emp_no"][e]], 
                        "title" : [df["title"][i], df["title"][e]], 
                        "from_date" : [df["from_date"][i], df["from_date"][e]],
                        "to_date" : [df["from_date"][e] - pd.DateOffset(1), df["to_date"][e]]
                        })])
                    c = 1
                    break
                elif (df["from_date"][i] <= df["from_date"][e] and
                df["to_date"][i] <= df["to_date"][e] and
                df["to_date"][i] >= df["from_date"][e] and
                df["priority"][i] == df["priority"][e]):
                    df_new1 = pd.concat([df_new1, pd.DataFrame({
                        "emp_no" : [df["emp_no"][i]], 
                        "title" : [df["title"][i]], 
                        "from_date" : [df["from_date"][i]],
                        "to_date" : [df["to_date"][e]]
                        })])
                    c = 1
                    break
                elif (df["from_date"][e] <= df["from_date"][i] and
                df["to_date"][e] <= df["to_date"][i] and
                df["to_date"][e] >= df["from_date"][i] and
                df["priority"][e] < df["priority"][i]):
                    df_new1 = pd.concat([df_new1, pd.DataFrame({
                        "emp_no" : [df["emp_no"][e], df["emp_no"][i]], 
                        "title" : [df["title"][e], df["title"][i]], 
                        "from_date" : [df["from_date"][e], df["from_date"][i]],
                        "to_date" : [df["from_date"][i] - pd.DateOffset(1), df["to_date"][i]]
                        })])
                    c = 1
                    break
                elif (df["from_date"][e] <= df["from_date"][i] and
                df["to_date"][e] <= df["to_date"][i] and
                df["to_date"][e] >= df["from_date"][i] and
                df["priority"][e] == df["priority"][i]):
                    df_new1 = pd.concat([df_new1, pd.DataFrame({
                        "emp_no" : [df["emp_no"][e]], 
                        "title" : [df["title"][e]], 
                        "from_date" : [df["from_date"][e]],
                        "to_date" : [df["to_date"][i]]
                        })])
                    c = 1
                    break
                elif (df["from_date"][i] <= df["from_date"][e] and
                df["to_date"][i] <= df["to_date"][e] and
                df["to_date"][i] >= df["from_date"][e] and
                df["priority"][i] > df["priority"][e]):
                    df_new1 = pd.concat([df_new1, pd.DataFrame({
                        "emp_no" : [df["emp_no"][i], df["emp_no"][e]], 
                        "title" : [df["title"][i], df["title"][e]], 
                        "from_date" : [df["from_date"][i], df["to_date"][i] + pd.DateOffset(1)],
                        "to_date" : [df["to_date"][i], df["to_date"][e]]
                        })])
                    c = 1
                    break
                elif (df["from_date"][e] <= df["from_date"][i] and
                df["to_date"][e] <= df["to_date"][i] and
                df["to_date"][e] >= df["from_date"][i] and
                df["priority"][e] > df["priority"][i]):
                    df_new1 = pd.concat([df_new1, pd.DataFrame({
                        "emp_no" : [df["emp_no"][e], df["emp_no"][i]], 
                        "title" : [df["title"][e], df["title"][i]], 
                        "from_date" : [df["from_date"][e], df["to_date"][e] + pd.DateOffset(1)],
                        "to_date" : [df["to_date"][e], df["to_date"][i]]
                        })])
                    c = 1
                    break
                elif (df["from_date"][i] <= df["from_date"][e] and
                df["to_date"][i] >= df["to_date"][e] and
                df["priority"][i] < df["priority"][e]):
                    df_new1 = pd.concat([df_new1, pd.DataFrame({
                        "emp_no" : [df["emp_no"][i], df["emp_no"][e], df["emp_no"][i]], 
                        "title" : [df["title"][i], df["title"][e], df["title"][i]], 
                        "from_date" : [df["from_date"][i], df["from_date"][e], df["to_date"][e] + pd.DateOffset(1)],
                        "to_date" : [df["from_date"][e] - pd.DateOffset(1), df["to_date"][e], df["to_date"][i]]
                        })])
                    c = 1
                    break
                elif (df["from_date"][e] <= df["from_date"][i] and
                df["to_date"][e] >= df["to_date"][i] and
                df["priority"][i] < df["priority"][e]):
                    df_new1 = pd.concat([df_new1, pd.DataFrame({
                        "emp_no" : [df["emp_no"][e], df["emp_no"][i], df["emp_no"][e]], 
                        "title" : [df["title"][e], df["title"][i], df["title"][e]], 
                        "from_date" : [df["from_date"][e], df["from_date"][i], df["to_date"][i] + pd.DateOffset(1)],
                        "to_date" : [df["from_date"][i] - pd.DateOffset(1), df["to_date"][i], df["to_date"][e]]
                        })])
                    c = 1
                    break
                else:
                    continue
            if c == 1:
                continue
            else:
                df_new1 = pd.concat([df_new1, pd.DataFrame({
                "emp_no" : [df["emp_no"][i]], 
                "title" : [df["title"][i]], 
                "from_date" : [df["from_date"][i]],
                "to_date" : [df["to_date"][i]]
                })])
                continue
        df_new1.drop_duplicates(subset=None, keep='first', inplace=True, ignore_index=True)
        df = df_new1
        df_new1 = pd.DataFrame({"emp_no": [], "title": [], "from_date": [], "to_date":[]})
        wl2 = 0
        c = 0
        while wl2 != 1:
            c = 0
            for i in range(len(df)):
                d = 0
                for e in range(len(df)):
                    if (df["from_date"][i] == df["from_date"][e] and 
                    df["to_date"][i] == df["to_date"][e] and 
                    df["title"][i] == df["title"][e]):
                        continue
                    elif (df["from_date"][i] <= df["from_date"][e] and
                    df["to_date"][i] <= df["to_date"][e] and
                    df["to_date"][i] >= df["from_date"][e] and
                    df["title"][i] == df["title"][e]):
                        df_new1 = pd.concat([df_new1, pd.DataFrame({
                            "emp_no" : [df["emp_no"][i]], 
                            "title" : [df["title"][i]], 
                            "from_date" : [df["from_date"][i]],
                            "to_date" : [df["to_date"][e]]
                            })])
                        c = 1
                        d = 1
                        break
                    elif (df["from_date"][e] <= df["from_date"][i] and
                    df["to_date"][e] <= df["to_date"][i] and
                    df["to_date"][e] >= df["from_date"][i] and
                    df["title"][e] == df["title"][i]):
                        df_new1 = pd.concat([df_new1, pd.DataFrame({
                            "emp_no" : [df["emp_no"][e]], 
                            "title" : [df["title"][e]], 
                            "from_date" : [df["from_date"][e]],
                            "to_date" : [df["to_date"][i]]
                            })])
                        c = 1
                        d = 1
                        break
                    elif (df["from_date"][i] <= df["from_date"][e] and
                    df["to_date"][i] >= df["to_date"][e] and
                    df["title"][i] == df["title"][e]):
                        df_new1 = pd.concat([df_new1, pd.DataFrame({
                            "emp_no" : [df["emp_no"][i]], 
                            "title" : [df["title"][i]], 
                            "from_date" : [df["from_date"][i]],
                            "to_date" : [df["to_date"][i]]
                            })])
                        c = 1
                        d = 1
                        break
                    elif (df["from_date"][e] <= df["from_date"][i] and
                    df["to_date"][e] >= df["to_date"][i] and
                    df["title"][e] == df["title"][i]):
                        df_new1 = pd.concat([df_new1, pd.DataFrame({
                            "emp_no" : [df["emp_no"][e]], 
                            "title" : [df["title"][e]], 
                            "from_date" : [df["from_date"][e]],
                            "to_date" : [df["to_date"][e]]
                            })])
                        c = 1
                        d = 1
                        break
                    else:
                        continue
                if d == 0:
                    df_new1 = pd.concat([df_new1, pd.DataFrame({
                            "emp_no" : [df["emp_no"][i]], 
                            "title" : [df["title"][i]], 
                            "from_date" : [df["from_date"][i]],
                            "to_date" : [df["to_date"][i]]
                            })])
                    continue
            df_new1.drop_duplicates(subset=None, keep='first', inplace=True, ignore_index=True)
            df = df_new1
            if c == 0:
                wl2 = 1
                break
            else:
                continue
        df.drop_duplicates(subset=None, keep='first', inplace=True, ignore_index=True)
        c = 0
        for a in range(len(df)):
            for b in range(len(df)):
                if (df["from_date"][a] < df["from_date"][b] and
                df["to_date"][a] < df["to_date"][b] and
                df["to_date"][a] > df["from_date"][b]):
                    c = 1
                    break
                elif (df["from_date"][b] < df["from_date"][a] and
                df["to_date"][b] < df["to_date"][a] and
                df["to_date"][b] > df["from_date"][a]):
                    c = 1
                    break
                elif (df["from_date"][a] < df["from_date"][b] and
                df["to_date"][a] > df["to_date"][b]):
                    c = 1
                    break
                elif (df["from_date"][b] < df["from_date"][a] and
                df["to_date"][b] > df["to_date"][b]):
                    c = 1
                    break
                elif (df["from_date"][a] == df["from_date"][b] and
                df["to_date"][a] != df["to_date"][b]):
                    c = 1
                    break
                elif (df["from_date"][a] != df["from_date"][b] and
                df["to_date"][a] == df["to_date"][b]):
                    c = 1
                    break
                else:
                    continue
        if c == 0:
            wl = 1
            break
        else:
            continue

    df = df.sort_values(by=["from_date"], ascending=True)
    tit_new = pd.concat([tit_new, df])
    tit_new = tit_new.reset_index(drop = True)

    ### Igang med at fylde blanke linjer ind!
    df_new1 = pd.DataFrame({"emp_no": [], "title": [], "from_date": [], "to_date":[]})
    for i in range(len(tit_new)):
        c = 0
        for e in range(len(tit_new)):
            if (tit_new["from_date"][i] == tit_new["from_date"][e] and 
                tit_new["to_date"][i] == tit_new["to_date"][e]):
                continue
            elif tit_new["to_date"][i] > tit_new["from_date"][e]:
                continue
            elif tit_new["to_date"][i] + pd.DateOffset(1) == tit_new["from_date"][e]:
                df_new1 = pd.concat([df_new1, pd.DataFrame({
                    "emp_no" : [tit_new["emp_no"][i]], 
                    "title" : [tit_new["title"][i]], 
                    "from_date" : [tit_new["from_date"][i]],
                    "to_date" : [tit_new["to_date"][i]]
                    })])
                c = 1
                break
            elif tit_new["to_date"][i] + pd.DateOffset(1) < tit_new["from_date"][e]:
                df_new1 = pd.concat([df_new1, pd.DataFrame({
                    "emp_no" : [tit_new["emp_no"][i], tit_new["emp_no"][i]],
                    "title" : [tit_new["title"][i], np.nan],
                    "from_date" : [tit_new["from_date"][i], tit_new["to_date"][i] + pd.DateOffset(1)],
                    "to_date" : [tit_new["to_date"][i], tit_new["from_date"][e] - pd.DateOffset(1)] 
                    })])
                break
                c = 1
            else:
                break
        if c == 0:
            df_new1 = pd.concat([df_new1, pd.DataFrame({
                "emp_no" : [tit_new["emp_no"][i]], 
                "title" : [tit_new["title"][i]], 
                "from_date" : [tit_new["from_date"][i]],
                "to_date" : [tit_new["to_date"][i]]
                })])
            continue
    tit_new = df_new1
    tit_new = tit_new.sort_values(by=["emp_no", "from_date"], ascending=True)
    tit_new = tit_new.reset_index(drop = True)
    tit_new.drop_duplicates(subset=None, keep='first', inplace=True, ignore_index=True)


    ### Samlingforberedelse
    sal_new["from_date"] = pd.to_datetime(sal_new["from_date"], format = "%m-%d-%Y")
    sal_new["to_date"] = pd.to_datetime(sal_new["to_date"], format = "%m-%d-%Y")
    tit_new["from_date"] = pd.to_datetime(tit_new["from_date"], format = "%m-%d-%Y")
    tit_new["to_date"] = pd.to_datetime(tit_new["to_date"], format = "%m-%d-%Y")
    if sal_new["from_date"].min() == tit_new["from_date"].min():
        pass
    elif sal_new["from_date"].min() < tit_new["from_date"].min():
        tit_new = pd.concat([tit_new, pd.DataFrame({
            "emp_no" : [emp["emp_no"][x]], 
            "title" : [np.nan], 
            "from_date" : [sal_new["from_date"].min()],
            "to_date" : [tit_new["from_date"].min() - pd.DateOffset(1)]
            })])
        pass
    elif sal_new["from_date"].min() > tit_new["from_date"].min():
        sal_new = pd.concat([sal_new, pd.DataFrame({
            "emp_no" : [emp["emp_no"][x]], 
            "salary" : [np.nan], 
            "from_date" : [tit_new["from_date"].min()],
            "to_date" : [sal_new["from_date"].min() - pd.DateOffset(1)]
            })])
        pass
    if sal_new["to_date"].max() == tit_new["to_date"].max():
        pass
    elif sal_new["to_date"].max() > tit_new["to_date"].max():
        tit_new = pd.concat([tit_new, pd.DataFrame({
            "emp_no" : [emp["emp_no"][x]], 
            "title" : [np.nan], 
            "from_date" : [tit_new["to_date"].max() + pd.DateOffset(1)],
            "to_date" : [sal_new["to_date"].max()]
            })])
        pass
    elif sal_new["to_date"].max() < tit_new["to_date"].max():
        sal_new = pd.concat([sal_new, pd.DataFrame({
            "emp_no" : [emp["emp_no"][x]], 
            "salary" : [np.nan], 
            "from_date" : [sal_new["to_date"].max() + pd.DateOffset(1)],
            "to_date" : [tit_new["to_date"].max()]
            })])
        pass

    ### Samling
    sal_new["from_date"] = pd.to_datetime(sal_new["from_date"], format = "%m-%d-%Y")
    sal_new["to_date"] = pd.to_datetime(sal_new["to_date"], format = "%m-%d-%Y")
    tit_new["from_date"] = pd.to_datetime(tit_new["from_date"], format = "%m-%d-%Y")
    tit_new["to_date"] = pd.to_datetime(tit_new["to_date"], format = "%m-%d-%Y")
    sal_new = sal_new.sort_values(by=["from_date", "to_date"], ascending=True)
    sal_new = sal_new.reset_index(drop = True)
    tit_new = tit_new.sort_values(by=["from_date", "to_date"], ascending=True)
    tit_new = tit_new.reset_index(drop = True)
    for i in range(len(sal_new)):
        for e in range(len(tit_new)):
            if (sal_new["to_date"][i] < tit_new["from_date"][e]):
                continue
            elif (tit_new["to_date"][e] < sal_new["from_date"][i]):
                continue
            elif (sal_new["from_date"][i] >= tit_new["from_date"][e] and
                sal_new["to_date"][i] <= tit_new["to_date"][e]):
                final = pd.concat([final, pd.DataFrame({
                    "emp_no" : [sal_new["emp_no"][i]],
                    "title" : [tit_new["title"][e]],
                    "salary" : [sal_new["salary"][i]],
                    "from_date" : [sal_new["from_date"][i]],
                    "to_date" : [sal_new["to_date"][i]]
                    })])
                continue
            elif (sal_new["from_date"][i] <= tit_new["from_date"][e] and
                sal_new["to_date"][i] >= tit_new["to_date"][e]):
                final = pd.concat([final, pd.DataFrame({
                    "emp_no" : [sal_new["emp_no"][e]],
                    "title" : [tit_new["title"][e]],
                    "salary" : [sal_new["salary"][i]],
                    "from_date" : [sal_new["from_date"][e]],
                    "to_date" : [sal_new["to_date"][e]]
                    })])
                continue
            elif (sal_new["from_date"][i] <= tit_new["from_date"][e] and
                sal_new["to_date"][i] <= tit_new["to_date"][e]):
                final = pd.concat([final, pd.DataFrame({
                    "emp_no" : [sal_new["emp_no"][i]],
                    "title" : [tit_new["title"][e]],
                    "salary" : [sal_new["salary"][i]],
                    "from_date" : [sal_new["from_date"][e]],
                    "to_date" : [sal_new["to_date"][i]]
                    })])
                continue
            elif (sal_new["from_date"][i] >= tit_new["from_date"][e] and
                sal_new["to_date"][i] >= tit_new["to_date"][e]):
                final = pd.concat([final, pd.DataFrame({
                    "emp_no" : [sal_new["emp_no"][e]],
                    "title" : [tit_new["title"][e]],
                    "salary" : [sal_new["salary"][i]],
                    "from_date" : [sal_new["from_date"][i]],
                    "to_date" : [sal_new["to_date"][e]]
                    })])
                continue
final = final.reset_index(drop = True)
final.to_csv("final.csv", index=False,  sep=';')

0.0 %
3.5161162948432285e-05 %
7.032232589686457e-05 %
0.00010548348884529686 %
0.00014064465179372914 %
0.00017580581474216145 %
0.00021096697769059373 %
0.000246128140639026 %
0.0002812893035874583 %
0.00031645046653589056 %
0.0003516116294843229 %
0.0003867727924327552 %
0.00042193395538118745 %
0.00045709511832961973 %
0.000492256281278052 %
0.0005274174442264843 %
0.0005625786071749166 %
0.0005977397701233489 %
0.0006329009330717811 %
0.0006680620960202135 %
0.0007032232589686458 %
0.000738384421917078 %
0.0007735455848655103 %
0.0008087067478139426 %
0.0008438679107623749 %
0.0008790290737108071 %
0.0009141902366592395 %
0.0009493513996076718 %
0.000984512562556104 %
0.0010196737255045362 %
0.0010548348884529687 %
0.001089996051401401 %
0.0011251572143498331 %
0.0011603183772982654 %
0.0011954795402466978 %
0.00123064070319513 %
0.0012658018661435622 %
0.0013009630290919947 %
0.001336124192040427 %
0.0013712853549888591 %
0.0014064465179372916 %
0.0014416076808857238 %
0.001476768843834156 %
0.0015119300067825883 %
0.0015470911697310207 %
0.001582252332679453 %
0.0016174134956278851 %
0.0016525746585763176 %
0.0016877358215247498 %
0.001722896984473182 %
0.0017580581474216143 %
0.0017932193103700467 %
0.001828380473318479 %
0.0018635416362669111 %
0.0018987027992153436 %
0.0019338639621637758 %
0.001969025125112208 %
0.0020041862880606403 %
0.0020393474510090725 %
0.0020745086139575047 %
0.0021096697769059374 %
0.0021448309398543696 %
0.002179992102802802 %
0.002215153265751234 %
0.0022503144286996663 %
0.0022854755916480985 %
0.0023206367545965307 %
0.0023557979175449634 %
0.0023909590804933956 %
0.002426120243441828 %
0.00246128140639026 %
0.0024964425693386923 %
0.0025316037322871245 %
0.002566764895235557 %
0.0026019260581839894 %
0.0026370872211324216 %
0.002672248384080854 %
0.002707409547029286 %
0.0027425707099777183 %
0.0027777318729261505 %
0.002812893035874583 %
0.0028480541988230154 %
0.0028832153617714476 %
0.00291837652471988 %
0.002953537687668312 %
0.0029886988506167443 %
0.0030238600135651765 %
0.003059021176513609 %
0.0030941823394620414 %
0.0031293435024104736 %
0.003164504665358906 %
0.003199665828307338 %
0.0032348269912557703 %
0.0032699881542042025 %
0.003305149317152635 %
0.0033403104801010674 %
0.0033754716430494996 %
0.003410632805997932 %
0.003445793968946364 %
0.0034809551318947963 %
0.0035161162948432285 %
0.003551277457791661 %
0.0035864386207400934 %
0.0036215997836885256 %
0.003656760946636958 %
0.00369192210958539 %
0.0037270832725338223 %
0.0037622444354822545 %
0.003797405598430687 %
0.0038325667613791194 %
0.0038677279243275516 %
0.003902889087275984 %
0.003938050250224416 %
0.003973211413172848 %
0.0040083725761212805 %
0.004043533739069713 %
0.004078694902018145 %
0.004113856064966577 %
0.004149017227915009 %
0.0041841783908634425 %
0.004219339553811875 %
0.004254500716760307 %
0.004289661879708739 %
0.004324823042657171 %
0.004359984205605604 %
0.004395145368554036 %
0.004430306531502468 %
0.0044654676944509 %
0.0045006288573993325 %
0.004535790020347765 %
0.004570951183296197 %
0.004606112346244629 %
0.004641273509193061 %
0.0046764346721414945 %
0.004711595835089927 %
0.004746756998038359 %
0.004781918160986791 %
0.004817079323935223 %
0.004852240486883656 %
0.004887401649832088 %
0.00492256281278052 %
0.004957723975728952 %
0.0049928851386773845 %
0.005028046301625817 %
0.005063207464574249 %
0.005098368627522681 %
0.005133529790471114 %
0.0051686909534195465 %
0.005203852116367979 %
0.005239013279316411 %
0.005274174442264843 %
0.005309335605213275 %
0.005344496768161708 %
0.00537965793111014 %
0.005414819094058572 %
0.005449980257007004 %
0.0054851414199554365 %
0.005520302582903869 %
0.005555463745852301 %
0.005590624908800733 %
0.005625786071749166 %
0.0056609472346975985 %
0.005696108397646031 %
0.005731269560594463 %
0.005766430723542895 %
0.005801591886491327 %
0.00583675304943976 %
0.005871914212388192 %
0.005907075375336624 %
0.005942236538285056 %
0.0059773977012334886 %
0.006012558864181921 %
0.006047720027130353 %
0.006082881190078785 %
0.006118042353027218 %
0.0061532035159756505 %
0.006188364678924083 %
0.006223525841872515 %
0.006258687004820947 %
0.0062938481677693794 %
0.006329009330717812 %
0.006364170493666244 %
0.006399331656614676 %
0.006434492819563108 %
0.0064696539825115406 %
0.006504815145459973 %
0.006539976308408405 %
0.006575137471356837 %
0.00661029863430527 %
0.0066454597972537026 %
0.006680620960202135 %
0.006715782123150567 %
0.006750943286098999 %
0.0067861044490474315 %
0.006821265611995864 %
0.006856426774944296 %
0.006891587937892728 %
0.00692674910084116 %
0.006961910263789593 %
0.006997071426738025 %
0.007032232589686457 %
0.007067393752634889 %
0.007102554915583322 %
0.0071377160785317546 %
0.007172877241480187 %
0.007208038404428619 %
0.007243199567377051 %
0.0072783607303254835 %
0.007313521893273916 %
0.007348683056222348 %
0.00738384421917078 %
0.007419005382119212 %
0.007454166545067645 %
0.007489327708016077 %
0.007524488870964509 %
0.007559650033912941 %
0.007594811196861374 %
0.007629972359809807 %
0.007665133522758239 %
0.007700294685706671 %
0.007735455848655103 %
0.0077706170116035355 %
0.007805778174551968 %
0.0078409393375004 %
0.007876100500448832 %
0.007911261663397265 %
0.007946422826345697 %
0.00798158398929413 %
0.008016745152242561 %
0.008051906315190994 %
0.008087067478139425 %
0.008122228641087859 %
0.00815738980403629 %
0.008192550966984723 %
0.008227712129933154 %
0.008262873292881587 %
0.008298034455830019 %
0.008333195618778452 %
0.008368356781726885 %
0.008403517944675316 %
0.00843867910762375 %
0.00847384027057218 %
0.008509001433520614 %
0.008544162596469045 %
0.008579323759417478 %
0.00861448492236591 %
0.008649646085314343 %
0.008684807248262774 %
0.008719968411211207 %
0.008755129574159639 %
0.008790290737108072 %
0.008825451900056505 %
0.008860613063004936 %
0.00889577422595337 %
0.0089309353889018 %
0.008966096551850234 %
0.009001257714798665 %
0.009036418877747098 %
0.00907158004069553 %
0.009106741203643963 %
0.009141902366592394 %
0.009177063529540827 %
0.009212224692489258 %
0.009247385855437691 %
0.009282547018386123 %
0.009317708181334556 %
0.009352869344282989 %
0.00938803050723142 %
0.009423191670179853 %
0.009458352833128285 %
0.009493513996076718 %
0.00952867515902515 %
0.009563836321973582 %
0.009598997484922014 %
0.009634158647870447 %
0.009669319810818878 %
0.009704480973767311 %
0.009739642136715743 %
0.009774803299664176 %
0.009809964462612609 %
0.00984512562556104 %
0.009880286788509473 %
0.009915447951457905 %
0.009950609114406338 %
0.009985770277354769 %
0.010020931440303202 %
0.010056092603251634 %
0.010091253766200067 %
0.010126414929148498 %
0.010161576092096931 %
0.010196737255045362 %
0.010231898417993796 %

KeyboardInterrupt:

In [1]:
sal = pd.read_json(r'salaries.json')
sal.head(70)

NameError: name 'pd' is not defined

In [5]:
sal = pd.read_json(r'salaries.json')
tit = pd.read_json(r'titles.json')

sal['to_date'] = sal['to_date'].replace(['9999-01-01'], '2023-01-04')
tit['to_date'] = tit['to_date'].replace(['9999-01-01'], '2023-01-04')

sal = sal.reset_index(drop = True)
tit = tit.reset_index(drop = True)

sal.to_csv("sal_fixed.csv", index=False,  sep=';')
tit.to_csv("tit_fixed.csv", index=False,  sep=';')

sal

         emp_no  salary   from_date     to_date
0         10001   60117  1986-06-26  1987-06-26
1         10001   62102  1987-06-26  1988-06-25
2         10001   66074  1988-06-25  1989-06-25
3         10001   66596  1989-06-25  1990-06-25
4         10001   66961  1990-06-25  1991-06-25
...         ...     ...         ...         ...
2844042  499999   63707  1997-11-30  1998-11-30
2844043  499999   67043  1998-11-30  1999-11-30
2844044  499999   70745  1999-11-30  2000-11-29
2844045  499999   74327  2000-11-29  2001-11-29
2844046  499999   77303  2001-11-29  2023-01-04

[2844047 rows x 4 columns]

In [10]:
emp

        emp_no  birth_date first_name last_name gender   hire_date
0        10001  1953-09-02     Georgi   Facello      M  1986-06-26
1        10002  1964-06-02    Bezalel    Simmel      F  1985-11-21
2        10003  1959-12-03      Parto   Bamford      M  1986-08-28
3        10004  1954-05-01  Chirstian   Koblick      M  1986-12-01
4        10005  1955-01-21    Kyoichi  Maliniak      M  1989-09-12
...        ...         ...        ...       ...    ...         ...
300019  499995  1958-09-24     Dekang  Lichtner      F  1993-01-12
300020  499996  1953-03-07       Zito      Baaz      M  1990-09-27
300021  499997  1961-08-03    Berhard    Lenart      M  1986-04-21
300022  499998  1956-09-05   Patricia   Breugel      M  1993-10-13
300023  499999  1958-05-01     Sachin   Tsukuda      M  1997-11-30

[300024 rows x 6 columns]